.main{
	background-color:lightblue;
	width : 80%;
	height:100%;
	margin-right:auto;
	margin-left:auto;
	text-align:center;
	border-color:black;
	border-radius:10px;
}
.main header{
background-color:#00CCFF;
border-top-right-radius: 10px;
border-top-left-radius:10px;
}
.main header h1{
	padding-top: 1%;
	font-family: Impact, Charcoal, sans-serif;
	color:#666666;
}
.main header nav{
	background-color:grey;
	height:auto;
}
a{
	text-decoration: none;
}
.main header nav a{
	text-decoration:none;
	color:white;
	height:100%;

	padding-right:10px;
	padding-left:10px;
	margin-right:7%;
	margin-left:7%;
	font-size:30px;
	font-family: Impact, Charcoal, sans-serif;

}
.main header nav a:hover, #active{
	background:lightgrey;
}
.content{
	text-align: left;
	margin:2%;
	font-family: Impact, Charcoal, sans-serif;
	color:#666666;
}
.content h3{
		color:black;
}
.content img{
	float:left;
	clear:both;
	width:20%;
	height:auto;
}
.content #left{
	float:left;
	clear:top;
	width:30%;
	height:auto;
	vertical-align:left;
}
.content #center{
	float:left;
	clear:top;
	width:30%;
	height:auto;
	vertical-align:center;
}
.content #right{
	float:left;
	clear:top;
	width:30%;
	height:auto;
	vertical-align:right;
}
.content #aboutme{
	margin:2%;
	float:left;
}