.main{
	background-color:lightblue;
	width : 80%;
	height:100%;
	margin-right:auto;
	margin-left:auto;
	text-align:center;
	border-color:black;
	border-radius:1px;
}
.main header{
background-color:#66CCCC;
}
.main header h1{
padding-top: 1%;
font-family: Impact, Charcoal, sans-serif;
}
.main header nav{
	background-color:grey;
	height:auto;
}
.main header nav a{
	text-decoration:none;
	color:white;
	height:100%;
	margin-left:8%;
	margin-right:8%;
	font-size:30px;
	font-family: Impact, Charcoal, sans-serif;
}
.main header nav a:hover, .main header nav a:active{
		background:lightgrey;
}
.content{
	text-align: left;
	margin:2%;
	font-family: Impact, Charcoal, sans-serif;
}
