.body{
	background-color:white;
}
.main{
	background-color:lightblue;
	width : 80%;
	height:100%;
	margin-right:auto;
	margin-left:auto;
	text-align:center;
}
.main header nav{
	background-color:grey;
	height:5%;
}
.main header nav a{
	text-decoration:none;
	color:white;
	text-align:center;
}